@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;

	
    
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

           
          /* responsivo */

#openMenu, #closeMenu {
	
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;

}





/* menu nav */

header article{
  display: none;
}

header nav img{
  display: none;
}
header nav{
    border-bottom: 1px solid #315630;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);
    margin: 0;
   

}

header nav.container-nav{
    display: flex;
    justify-content: center;
    gap: 50px;
   



}


header nav.container-nav a{
	font-size: 12pt;
	color: #315630;
    text-decoration: none;
}



header nav.container-nav a:hover{
    border-bottom: 1px solid #315630;
}

main{
  width: 100%;

}


main section figure{
    text-align: center;

    
}
main section figure img{
  width: 400px;
}


main section.container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
  gap: 10px;

}

main section.container .content{
  border: 1px solid #315630;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

main section.container .content a{
  text-decoration: none;
  color: #315630;
}
main section.container .content a:hover{
  background: #31563069;

}


/* <section class="container-two"> */


main section.container-two{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;

}
/* content PARTE 1 */
main section.container-two .content h1{
color: #315630;}
main section.container-two .content-ativarMobile{
  display: none;

}
/* content PARTE 2 */

main section.container-two .content-notebook  {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 15pt;
  margin-top: 20px;
  margin-bottom: 20px;

}
main section.container-two .content-notebook  a
{text-decoration: none;
  color: #315630;
}

main section.container-two .content-notebook  a:hover{
  border-bottom: 1px solid #315630;
}

/* content PARTE 3 */



main section.container-two .content-input input{
  border: 1px solid #315630;
  width: 40%;
}
main section.container-two .content-input button{
  background-color: #315630;
  color: white;
  cursor: pointer;
  border: none;
}


/* <section class="container-3"> */
  main section.container-3 article p{
    margin-top: 35px;
    color: #315630;
    font-size: 15pt;
  } 

main section.container-3 figure img{ 

  width: 100%;
}


main section.container-3 article.content-fotos{
  display: grid;
  grid-template-columns: 25% 25% 25%  25%;
  gap: 20px;
  margin-left: 15%;
  margin-right: 15%;
  transition: transform 0.3s ease; /* Adiciona uma transição suave */ 
  margin-top: 30px;
}
main section.container-3 article.content-fotos img{
  border-radius: 10px;}


main section.container-3 article.content-fotos :hover{
  transform: scale(1.1);
}

main section.container-3 article figure p{
  margin-top: 20px;
  color: #315630;
  font-size: 15pt;
}


/* estrelha */
.interactions {
  margin-top: 2px;
  }
  
  .rating, .like, .caption {
  margin-bottom: 2px;
  }
  
  .rating input {
  display: none;
  }
  
  .rating label, .like label {
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  }
  
  .rating input:checked ~ label, .like input:checked + label {
  color: black;
  }
  
  .caption p {
  font-size: 16px;
  color: #333;
  text-align: center;

  }
  
  .like-count {
  font-size: 16px
  ;color: #333; }  
  


main section.container-3 article.content-Mobale{
  display: none;
}


/* footer */

footer{
  background-color: #315630;
  color: white;
}

footer section.container{
  display: grid;
  grid-template-columns: auto auto 30%;

}


footer section.container-mobile{
  display: none;
}

footer section.container2-mobile{
  display: none;
}


footer section.container .content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;

}

footer section.container .content a{
  text-decoration: none;
  color: white;
}

footer section.container .content p{
  font-size: 10pt;
}

footer section.container2{
text-align: center;}

footer section.container2 figure{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16pt;
}


  @media only screen and (max-width: 999px) {
    body{
       background-color: #f4f4f4;
    }
   
 
    header article {
      background-color: #315630;
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      z-index: 10;
    }

    header article img{
      width: 150px;
    
    }
    header nav img{
      display: block;
    }
   #openMenu, #closeMenu {
       display: block;
       z-index: 99;

   }

   #openMenu {
       margin-left: auto;
       z-index: 99;
       color: #ffffff;

       
       
   }

   #closeMenu {
    z-index: 99;

       position: fixed;
       right: 15px;
       top: 10px;
       color: #f4f4f4;

       

   }
 
   #menu  {
    z-index: 99;

       position: fixed;
       top:0;
       height: 100vh;
       width: 100vw;
       background: #315630;
       flex-direction: column;
       align-items: center;
       display: none;
       opacity: 0;
       transition: 0.5s;
   }

   #menu a {
       color: white;


   }

        .container-slide img{
          margin-top: 88px;
        }


.content-texto a{
font-size: 9pt;}


main section.container-two .content-ativarMobile{
display: grid;
grid-template-columns: auto auto auto;
padding: 20px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #315630;
box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);

}

main section.container-two .content-ativarMobile a{
 text-decoration: none;
 color: #ffffff;
 font-size: 16pt;
 padding: 10px;
  
  }

  main section.container-two .content-ativarMobile a:hover{
    color: #333;
     
     }

main section.container-two .content-notebook
{
display: none;

}
      
      
      
/* content PARTE 3 */

main section.container-two .content-input input{
  width: 70%;
  margin: 20px;
}
      
      


main section.container-3 article.content-fotos{
  display: none;
  
}


main section.container-3 article.content-Mobale{
  display: block;
}

main section.container-3 article.content-Mobale h2{
text-align: center;
color: #315630;
font-size: 15pt;}




/* footer */
footer section.container{
  display: none;
}

footer section.container2{
  display: none;
}

footer section.container-mobile{
  display: block;
}

footer section.container2-mobile{
  display: block;
}

footer{
  margin-top: 50px;
}
footer section.container-mobile article.content{
  display: grid;
  grid-template-columns: auto 40%;
  padding: 10px;

}
footer section.container-mobile article.content a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

footer section.container2-mobile {
  justify-content: center;
  text-align: center;
  margin-top: 20px;

}

  }