@charset "UTF-8";

* {
margin: 0;
padding: 0;



}

body{
padding: 0;
margin: 0;
}



main {
background: url("../img/cadastro.png") no-repeat center center;
background-size: cover;
height: 105vh;
background-color:#2d492c ;
position: relative;


}


main section.container-notebook{
display: grid;
grid-template-columns: 50% 50%;
width: 80vw;
gap: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);


background: #2d492c17;
padding: 20px;
box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);
text-align: center;



}

main section.container-mobile{
display: none;
}


main section.container-notebook h1{
font-size: 25pt;
color: white;
}

main section.container-notebook h2{
color: white;
font-size: 16pt;
border-bottom: 1px solid white;
padding: 10px;
}

main section.container-notebook p{
color: white;
text-align: left;
font-size: 12pt;
}


main section.container-notebook article.content-parte1{
padding: 20px;
background:#315630ab ;
border-radius: 10px;



}

main section.container-notebook article.content-parte1 div{
margin-top: 20px;
padding: 10px;
border-radius: 10px;

}

main section.container-notebook article.content-parte2{
padding: 20px;
background:#315630ab ;
border-radius: 10px;



}
main section.container-notebook article.content-parte2 article{
display: flex;
flex-direction: column;
margin-top: 20px;
}


main section.container-notebook article.content-parte2 article label{
color: white;
text-align: left;
}

main section.container-notebook article.content-parte2 article input{
padding: 10px;
border: none;
}

main section.container-notebook article.content-parte2  button{
background-color: #315630;
margin-top: 10px;
padding: 10px;
color: white;
}


            /*  mdia */


            @media only screen and (max-width: 999px) {
                
main section.container-notebook{
    display: block;
    grid-template-columns: none;
    width: none;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    background: #2d492c17;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);
    text-align: center;
    
    
    
    }
               
            }